  <h2 class="visible-xs">
        Holy Crap it's mobile!
      </h2>
      <div id="carousel-example-generic" class="hidden-xs carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="images/coffee-1.jpg" alt="...">
          </div>
          <div class="item">
            <img src="images/coffee-2.jpg" alt="...">
          </div>
          <div class="item">
            <img src="images/coffee-3.jpg" alt="...">
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <i class="fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

      <div class="wrapper">
        <h2>Today's Menu</h2>
        <hr>
        <div class="container">
          <div class="col-sm-6 col-md-4 col-xs-12 coffee">
            <h3>- Coffee -</h3>
            <ul>
              <li>
                Coffee <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Locally-roasted organic beans.</span>
              </li>
              <li>
                Coffee/Decaf <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Locally-roasted organic beans.</span>
              </li>
              <li>
                Café Au Lait <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Coffee of the day with steamed milk.</span>
              </li>
              <li>
                Espresso <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Served alone or over a dollop of whipped cream.</span>
              </li>
              <li>
                Latte <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Espresso with steamed milk.</span>
              </li>
              <li>
                Mocha <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Espresso, premium chocolate syrup and steamed milk.</span>
              </li>
              <li>
                Cappuccino <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Espresso, steamed milk and milk froth.</span>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-md-push-4 col-xs-12 tea">
            <h3>- Tea -</h3>
            <ul>
              <li>
                Black Tea <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Earl Gray, jasmine, orange or mint.</span>
              </li>
              <li>
                Green Tea <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Jasmine, honey ginseng or orange blossom.</span>
              </li>
              <li>
                Herbal Tea <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Chamomile, vanilla or peach.</span>
              </li>
              <li>
                Oregon Chai Tea <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Vanilla and rich spices.</span>
              </li>
              <li>
                Iced Rooibos Tea Latte <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Rooibos tea and steamed milk over ice.</span>
              </li>
              <li>
                Steamer <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Steamed milk with honey or your choice of syrup.</span>
              </li>
              <li>
                Tiger Eye <sup>$</sup>1.95/<sup>$</sup>2.25/<sup>$</sup>2.40
                <span>Oregon Chai latte with a shot of espresso.</span>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 col-md-pull-4 col-xs-12 promos clearfix">
            <img src="images/special-shirts.jpg" alt="shirt">
            <img src="images/special-beans.jpg" alt="coffee beans">
          </div>
        </div>
      </div>